body{
    text-align: center;
    background: #d90429;
}
.capa{
    width: 100%;
}
.beneficios{
    background-color: antiquewhite;
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 25px ;
    margin-right: 400px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 30%;
 }